._7iic .pater-hear {
    display: flex;
    gap: 40px;
    padding: 50px 100px;
}

._7iic .swiveled-cry {
    padding: 0px 100px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    color: rgb(54, 54, 54);
}

._7iic .tapered-earn {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(119, 204, 235);
    border-radius: 10px;
    cursor: pointer;
}

._7iic .tapered-earn:hover {
    box-shadow: none;
}

._7iic .tapered-earn:not(.cuter-item) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 120px;
    border-width: 0px;
}

._7iic .switched-vee {
    color: white;
    background-color: rgb(84, 183, 219);
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

._7iic .flamen-vow {
    margin-top: 20px;
}

._7iic .cuter-item  {
    background-color: rgb(240, 251, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

._7iic .haptic-pipe {
    font-size: 20px;
    font-weight: 600;
    color: rgba(37, 150, 190);
}
