._0giz {
    flex: 1;
    min-height: 100vh;
    position: relative;
}

._0giz .turgid-wow {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    border-left: 2px dashed rgba(190, 57, 132, 0.585);
}

._0giz .turgid-wow .sifted-uhs {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 2px dashed rgba(190, 57, 132, 0.585);
    padding: 20px;
    margin-left: -38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(190, 57, 133);
    font-weight: 600;
}

._0giz .inert-zoo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
    color: rgb(54, 54, 54);
}

._0giz .tumble-duos {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

._0giz label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(37, 150, 190);
    margin-bottom: 0px;
}

._0giz input {
    width: 20vw;
    height: 50px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(37, 150, 190);
    padding: 0px 15px;
    font-size: 15px;
}

._0giz .besot-exit {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: rgba(37, 150, 190);
    font-weight: 600;
    height: 52px;
    padding: 0px 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: fit-content;
    cursor: pointer;
}

._0giz .tzetzes-rhos {
    display: flex;
    flex-direction: column;
    position: relative;
}

._0giz .tzetzes-rhos .besot-exit {
    position: absolute;
    top: 34px;
    right: -50px;
}

._0giz .swingers-tuft {
    position: absolute;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 40px;
    width: 500px;
    max-height: 200px;
    overflow-y: auto;
}

._0giz .swingers-tuft .tithings-yum {
    display: flex;
    flex-grow: 0;
    gap: 8px;
    cursor: pointer;
    background-color: white;
    border: 3px solid rgba(37, 150, 190);
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    border-radius: 8px;
}
