._6pzh .pater-hear {
    display: flex;
    gap: 40px;
    padding: 30px 100px;
}

._6pzh .swiveled-cry {
    padding: 0px 100px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    color: rgb(54, 54, 54);
}

._6pzh .swiveled-cry.sifters-from {
    padding: 0px 50px;
    margin-bottom: 30px;
}

._6pzh .swoop-bit {
    position: relative;
    width: 400px;
}

._6pzh .swoop-bit textarea {
    width: 400px;
    height: 150px;
    resize: none;
    font-size: 18px;
    border: 1px solid rgb(119, 204, 235);
    border-radius: 10px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

._6pzh .swoop-bit button {
    background-color: transparent;
    padding: 6px;
    font-size: 24px;
    border: none;
    position: absolute;
    bottom: 8px;
    left: 10px;
    cursor: pointer;
}

._6pzh .swoop-bit .jocund-zone {
    width: 40px;
    height: 40px;
    fill: rgb(37, 150, 190);
}

._6pzh .tapered-earn {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(119, 204, 235);
    border-radius: 10px;
    cursor: pointer;
}

._6pzh .tapered-earn:hover {
    box-shadow: none;
}

._6pzh .tapered-earn:not(.cuter-item) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 120px;
    border-width: 0px;
}

._6pzh .switched-vee {
    color: white;
    background-color: rgb(84, 183, 219);
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

._6pzh .flamen-vow {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 100px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(37, 150, 190);
    cursor: pointer;
}

._6pzh .flamen-vow .shuns-ropy {
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
}

._6pzh .gaped-hex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 100px;
    background-color: rgb(236, 250, 255);
    border: 1px solid rgb(164, 231, 255);
    width: fit-content;
    padding: 20px 100px 20px 20px;
    border-radius: 8px;
    margin-top: 30px;
    color: rgb(37, 150, 190);
    font-size: 18px;
    font-weight: 600;
}

._6pzh .gaped-hex .openings-luge {
    font-size: 14px;
}

._6pzh .cuter-item {
    background-color: rgb(240, 251, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

._6pzh .haptic-pipe {
    font-size: 20px;
    font-weight: 600;
    color: rgba(37, 150, 190);
}

._6pzh .vouchees-awes {
    position: relative;
    margin-left: 50px;
    width: 400px;
    height: 150px;
    border: 1px solid rgb(119, 204, 235);
    background-color: rgb(245, 253, 255);
    border-radius: 10px;
    padding: 20px;
}

._6pzh .vouchees-awes button {
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid rgb(119, 204, 235);
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(37, 150, 190);
    padding: 5px 8px;
    cursor: pointer;
}

._6pzh .vouchees-awes button svg {
    fill: rgba(37, 150, 190);
}

._6pzh .before-fat {
    font-size: 18px;
    padding-left: 100px;
    margin-bottom: 40px;
    transform: translate(0px, -10px);
    display: flex;
    align-items: center;
    gap: 6px;
}

._6pzh .before-fat img {
    width: 25px;
    height: 25px;
}

._6pzh .gonapod-box {
    margin-left: 100px;
    display: flex;
    align-items: center;
    color: rgb(63, 63, 63);
    gap: 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}

._6pzh .gonapod-box > div {
    transform: translate(0px, 5px);
}

._6pzh .gonapod-box .shoed-mud.emoji {
    transform: translate(-9px, 2px);
}

._6pzh .cordobas-ouzo {
    display: flex;
}

._6pzh .cordobas-ouzo > div:first-of-type {
    height: 418px;
}

._6pzh .shyer-fell.disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
}

._6pzh .cardia-ess {
    margin-left: 100px;
    margin-top: 60px;
    display: flex;
}

._6pzh .cardia-ess button {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: rgba(37, 150, 190);
    cursor: pointer;
}

._6pzh .cardia-ess button:disabled {
    background-color: rgb(168, 168, 168);
    opacity: 0.5;
    cursor: default;
}

._6pzh .elegits-yip {
    width: 24px;
    height: 24px;
    fill: white;
}

._6pzh .tsarist-haws {
    position: fixed;
    z-index: 2;
    inset: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 96, 96, 0.266);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

._6pzh .tsarist-haws .finder-gasp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    width: 500px;
}

._6pzh .tsarist-haws .finder-gasp > img {
    width: 250px;
    height: 250px;
}

._6pzh .tsarist-haws .finder-gasp h2 {
    color: rgb(83, 83, 83);
}

._6pzh .beefy-hear {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

._6pzh .beefy-hear .crays-cad {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgb(163, 163, 163);
    font-weight: 600;
    cursor: pointer;
}

._6pzh .beefy-hear .scouted-foe {
    width: 18px;
    height: 18px;
    fill: rgb(163, 163, 163);
}

._6pzh .tsarist-haws button {
    background-color: rgb(167, 167, 167);
    border: none;
    color: white;
    background-color: rgb(208, 123, 110);
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 53px;
    cursor: pointer;
}

._6pzh .nursing-nag {
    width: 25px;
    height: 25px;
    fill: white;
}

._6pzh .tsarist-haws button:hover {
    opacity: 0.9;
}

._6pzh .tsarist-haws .curlew-goer {
    color: white;
    background-color: rgb(110, 208, 110);
}

._6pzh .tsarist-haws p {
    color: grey;
    line-height: 28px;
    text-align: center;
}

._3ono .flamen-vow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(37, 150, 190);
    width: 100vw;
    margin-top: 0px;
    box-sizing: border-box;
    height: 65px;
}

._3ono .flamen-vow svg {
    fill: white;
}

._3ono .relate-glen {
    display: flex;
    align-items: center;
    gap: 10px;
}

._3ono .eugenics-demy {
    width: 80vw;
    margin-left: 100px;
    margin-top: 50px;
}

._3ono .cordobas-ouzo {
    margin-left: 100px;
    position: relative;
}

._3ono .scenter-sic {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

._3ono .cordobas-ouzo svg {
    width: 30px;
    height: 30px;
}

._3ono .vouchees-awes {
    margin-left: 0px;
    border: none;
    background-color: white;
    padding: 0px;
}

._3ono .swiveled-cry.sifters-from {
    padding: 0px;
}

._3ono .cordobas-ouzo > div:first-of-type {
    height: unset;
}

