._8rid {
    flex: 1;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

._8rid .outfind-sore {
    display: flex;
    flex-direction: column;
    margin-top: -300px;
}

._8rid .outfind-sore input {
    width: 30vw;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(190, 57, 133);
    padding: 0px 10px;
}

._8rid .outfind-sore button {
    width: calc(30vw + 20px);
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(190, 57, 133);
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

._8rid .outfind-sore button:hover {
    opacity: 0.9;
}

._8rid .reshims-maul {
    margin-bottom: 5px;
    color: rgb(44, 44, 44);
}
