._8rid {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

._8rid .trebly-oat {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(190, 57, 133);
    padding: 5px 0px 5px 10px;
}

._8rid .trebly-oat .tabarded-tux {
    font-size: 12px;
    font-weight: 400;
    padding-top: 2px;
}

._8rid .steep-hiss {
    width: 50px;
    height: 50px;
}

