._8bxc {
    display: flex;
}

._2tow {
    display: flex;
    flex-direction: column;
}

._2tow ._8rid {
    min-height: unset;
}

._2tow .groaning-zing {
    display: flex;
}

@media (max-width: 900px) {
  ._2tow .groaning-zing {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  ._2tow .groaning-zing > div {
    width: 100%;
  }
}
