._8bxc {
    display: flex;
}

._2tow {
    display: flex;
    flex-direction: column;
}

._2tow ._8rid {
    min-height: unset;
}

._2tow .groaning-zing {
    display: flex;
}

._2tow .raven-zoea {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

._8bxc .raven-zoea {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  ._2tow .groaning-zing {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  ._2tow .groaning-zing > div {
    width: 100%;
  }
}
