._2mld {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

._2mld .bigot-who {
  flex: 1;
  border-right: 1px solid rgb(163, 163, 163);
}

._2mld .easer-fork {
  flex: 2;
}

._2mld .easer-fork .nugget-bay {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(236, 236, 236),;
  height: 330px; 
  margin: 5px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

._2mld .squired-quad {
  flex: 1;
  position: relative;
}

._2mld .inured-wow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: whitesmoke;
}

._2mld .squired-quad .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgb(233, 233, 233);
}

._2mld .squired-quad .hidden img {
  cursor: pointer;
  width: 45px;
  height: 45px;
  opacity: 0.6;
}

._2mld .thesis-bios {
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

._2mld .thesis-bios img {
  height: 40px;
  width: 300px;
}

._2mld .squired-quad .landline-held {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

._2mld .erases-lube {
  border: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 400px;
  overflow-x: auto;
}

